<div class="grade-box" ng-init="loadInfo()">

    <!--<h2>您的评分（满分10分）： <span id="merchant-grade"></span><span id="stark">${star}</span> 分</h2>-->
    <h2>您的评分（满分10分）： <span id="merchant-grade"></span>{{mInfo.mStark}} 分</h2>
    <br>

    <div class="panel panel-warning">
        <div class="panel-heading">信用评价的定义</div>
        <div class="panel-body">
            <p>淘宝网会员在使用支付宝服务成功完成每一笔交易后，双方均有权对对方交易的情况作一个评价，这个评价亦称之为信用评价。</p>
            <p>名词定义</p>
            <ul>
                <li>评价积分：评价分为“好评”、“中评”、“差评”三类，每种评价对应一个积分。</li>
                <li>评价计分：评价积分的计算方法，具体为：“好评”加一分，“中评”零分，“差评”扣一分。</li>
                <li>信用度：对会员的评价积分进行累积，并在淘宝网页上进行评价积分显示。</li>
                <li>评价期间：指交易成功后的15天。</li>
            </ul>
        </div>
    </div>


    <div class="panel panel-warning">
        <div class="panel-heading">评价流程</div>
        <div class="panel-body">
            <ol>
                <li>如何去进行评价：
                    <p>支付宝软件系统下一笔交易的显示状态应为“交易成功”，在交易成功后的15天内，会员可以登陆“我的淘宝” >>
                        “我是买家（我是卖家）” >>
                        “已买入的宝贝（已卖出的宝贝）”进行评价。若在评价期间内未进行评价操作，则无评价操作入口。（淘宝商城无评价入口，只有店铺评分入口，可详见此规则中的店铺评分规则）</p>
                    <p>如果交易过程中发生退款，且交易买方选择“未收到货”或“要退货”，则在退款完成后，此交易视为取消，不发生评价无评价积分。</p>
                </li>
                <li>匿名评价
                    <p>买家在评价时可以选择匿名评价--选择隐藏自己的名字，选择了匿名评价后，此交易的出价记录与评价记录都将匿名显示，匿名作出的评价产生评价积分。
                    </p>
                    <p>若买家在进行评价时，没有选择匿名评价，在交易评价完成后30天内，有一次机会可以将此评价更改为匿名评价，更改后此交易的出价记录与评价记录都将匿名显示，此评价将不重复计分。</p>
                </li>
                <li>双方评价
                    <p>交易双方作出的评价都是“好评”（包括按前款规定系统自动作出的“好评”），则评价内容将即时全网显示并积分。如一方给予另一方的评价是“中评”或“差评”，交易双方互评的，则评价内容将在交易双方全部完成评价48小时后全网显示并计分；如仅一方作出“中评”或“差评”，另一方未评，则评价内容将在评价期间届满的48小时后全网显示并计分。
                    </p>
                </li>
                <li>评价计分规则：
                    <p>(1)每个自然月中，相同买家和卖家之间的评价计分不得超过6分（以支付宝系统显示的交易创建的时间计算）。超出计分规则范围的评价将不计分。
                    </p>
                    <p>(2)若14天内（以支付宝系统显示的交易创建的时间计算）相同买卖家之间就同一商品，有多笔支付宝交易，则多个好评只计1分，多个差评只记-1分。</p>
                </li>
            </ol>
        </div>
    </div>


</div>