<!-- Merchant Info -->
<div class="panel-body m-info-div" ng-init="loadInfo()">
    <h1 class="context-title">商户信息</h1>

    <div class="alert alert-success" role="alert" style="margin: 10px 20px;" ng-show="showUpdateSuccess">修改成功！3秒后自动刷新...</div>

    <div class="form-group">
        <label class="control-label" for="usr">Owner name</label>
        <div class="input-group">
            <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span> </span>
            <input type="text" class="form-control" id="usr" name="usr" ng-model="mInfo.mPersonName" disabled >
        </div>
    </div>
    <div class="form-group">
        <label for="tel">Telephone</label>
        <div class="input-group">
            <span class="input-group-addon"><span class="glyphicon glyphicon-phone"></span> </span>
            <input type="text" class="form-control" id="tel" name="tel" ng-model="mInfo.mTel" disabled>
        </div>
    </div>
    <div class="form-group">
        <label>Password</label>
        <div class="input-group">
            <a type="button" href="#/home/pwd" class="btn btn-default">Change Password</a>
        </div>
    </div>

    <!--<div class="form-group">-->
        <!--<label>ID Card</label>-->
    <!--</div>-->
    <!--<div class="form-group">-->
        <!--<img src="${myPicServer }${info.mCardPath }">-->
    <!--</div>-->
    <div class="form-group">
        <label>Account status：</label>
        <div class="input-group">

            <div ng-show="merchantInfo.mStatus == 1">
                <span style="color:gold"><i class="fa fa-meh-o" aria-hidden="true"></i>审核中</span>
            </div>
            <div ng-show="merchantInfo.mStatus == 2">
                <span style="color:green"><i class="fa fa-smile-o" aria-hidden="true"></i>已通过</span>
            </div>
            <div ng-show="merchantInfo.mStatus == 3">
                <span style="color:red"><i class="fa fa-frown-o" aria-hidden="true"></i>未通过</span>
            </div>
            <div ng-show="merchantInfo.mStatus == 4">
                <span style="color:red"><i class="fa fa-frown-o" aria-hidden="true"></i>&nbsp;黑名单</span>
            </div>

        </div>
    </div>
    <form class="login-form">
        <div class="form-group">
            <label for="location">Location</label>
            <div class="input-group">
                <span class="input-group-addon"><span class="glyphicon glyphicon-home"></span> </span>
                <input type="text" class="form-control" id="location" name="location"  ng-model="mInfo.mLocation">
            </div>
        </div>

        <div class="form-group">
            <label for="brand">Brand</label>
            <div class="input-group">
                <span class="input-group-addon"><span class="glyphicon glyphicon-info-sign"></span> </span>
                <input type="text" class="form-control" id="brand" name="brand" ng-model="mInfo.mBrand">
            </div>
        </div>
        <div class="form-group">
            <label>Brand Pic</label>
            <div class="input-group">
                <img src="{{imgPath}}{{mInfo.mLogoPath}}">
                <img ngf-thumbnail="file" class="thumb" style="width:200px;height:100px;">
            </div>
        </div>
        <div class="form-group">
            <input type="file" ngf-select ng-model="file" name="file" accept="image/*" ngf-max-size="2MB" required ngf-model-invalid="errorFile"><br>
            <button class="btn btn-gold" ng-click="file = null" ng-show="file">Remove</button>
            <!--<input type="file" class="" id="logo" name="logo">-->
            <!--<p class="help-block">The Brand picture could help customer recognize your merchant easily</p>-->
        </div>
        <span id="edit-alert" class="red-span" style="margin-left:20px;"></span><br>
        <br>

        <div class="form-group">
            <button type="button" class="btn btn-gold login-btn" ng-click="updateInfo()">Save</button>
        </div>

    </form>
</div>