<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsp" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>ita_project3</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>SearchFoodServlet</display-name>
    <servlet-name>SearchFoodServlet</servlet-name>
    <servlet-class>oocl.ita.main.controller.SearchFoodServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchFoodServlet</servlet-name>
    <url-pattern>/searchFoodServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BuyFoodServlet</display-name>
    <servlet-name>BuyFoodServlet</servlet-name>
    <servlet-class>oocl.ita.main.controller.BuyFoodServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BuyFoodServlet</servlet-name>
    <url-pattern>/buyFoodServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchCartServlet</display-name>
    <servlet-name>SearchCartServlet</servlet-name>
    <servlet-class>oocl.ita.main.controller.SearchCartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchCartServlet</servlet-name>
    <url-pattern>/searchCartServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddFoodServlet</display-name>
    <servlet-name>AddFoodServlet</servlet-name>
    <servlet-class>oocl.ita.main.controller.AddFoodServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddFoodServlet</servlet-name>
    <url-pattern>/addFoodServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CutFoodServlet</display-name>
    <servlet-name>CutFoodServlet</servlet-name>
    <servlet-class>oocl.ita.main.controller.CutFoodServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CutFoodServlet</servlet-name>
    <url-pattern>/cutFoodServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OrderServlet</display-name>
    <servlet-name>OrderServlet</servlet-name>
    <servlet-class>oocl.ita.main.controller.OrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderServlet</servlet-name>
    <url-pattern>/orderServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OrderBuyServlet</display-name>
    <servlet-name>OrderBuyServlet</servlet-name>
    <servlet-class>oocl.ita.main.controller.OrderBuyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderBuyServlet</servlet-name>
    <url-pattern>/orderBuyServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>oocl.ita.main.login.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/loginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowOrderServlet</display-name>
    <servlet-name>ShowOrderServlet</servlet-name>
    <servlet-class>oocl.ita.main.controller.ShowOrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowOrderServlet</servlet-name>
    <url-pattern>/showOrderServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterServlet</display-name>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>oocl.ita.main.login.servlet.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/registerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SignOutServlet</display-name>
    <servlet-name>SignOutServlet</servlet-name>
    <servlet-class>oocl.ita.main.login.servlet.SignOutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignOutServlet</servlet-name>
    <url-pattern>/signOutServlet</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>CharsetEncodingFilter</display-name>
    <filter-name>CharsetEncodingFilter</filter-name>
    <filter-class>oocl.ita.main.filter.CharsetEncodingFilter</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>CharsetEncodingFilter</filter-name>
    <url-pattern>/charsetEncodingFilter</url-pattern>
  </filter-mapping>
  <jsp-config>
    <taglib>
      <taglib-uri>oscache</taglib-uri>
      <taglib-location>/WEB-INF/classes/oscache.tld</taglib-location>
    </taglib>
  </jsp-config>
  <filter>
	<display-name>CacheFilter</display-name>
	<filter-name>CacheFilter</filter-name>
	<filter-class>oocl.ita.main.cache.CacheFilter</filter-class>
	<init-param>
		<param-name>time</param-name>
		<param-value>60</param-value>
	</init-param>
	<init-param>
		<param-name>scope</param-name>
		<param-value>session</param-value>
	</init-param>
  </filter>
  <filter-mapping>
    <filter-name>CacheFilter</filter-name>
    <url-pattern>/index.jsp</url-pattern>
  </filter-mapping>
</web-app>